<a href="https://colab.research.google.com/github/FAtheme/AdvancedDataMining-KHU-Fall2024/blob/main/HW1/HW1_Advanced_Data_Mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Submission Instructions

You can complete your homework in one of the following ways:  

1. **Google Colab:** Complete your homework on Google Colab and email the link to your Colab notebook.  
   - Ensure the link is set to **Anyone with the link can view** before sending.  

2. **Jupyter Notebook:** Alternatively, you may complete your homework in a Jupyter Notebook and attach the file directly to your email.  

Send your submission to the following email address: **adm.kharazmi@gmail.com**

Title of the notebook and email should be **HW1 - Full Name** (replace "Full Name" with your actual name).

## Deadline:

Submit your homework by **Sunday, December 8, 2024, at 11:59 PM**.

**Late submissions will not be accepted and you will lose score**, so please ensure you meet the deadline.

# Variables

As a warm-up, run the following code and enter your **Full Name**.

In [ ]:
name = input("What is your name? ")
print("Hello", name, ", welcome to Kharazmi University!")

## Exercise 1
Declare a variable to store your `<year of birth>`

Print this sentence:

My name is `<name>` and I was born in `<year of birth>`.

In [ ]:
### YOUR ANSWER ###

Subtract `<year of birth>` from 2024 and put the result in a new variable named `<age>`.

Print the following sentence:

I am `<age>` years old.

In [ ]:
### YOUR ANSWER ###

## Exercise 2
Get a date from standard input using input() call. Consider `yyyy-mm-dd` as date format (you don't need to check date format).

Split the date into three terms using str.split() calls and store them into three variables. Then cast those variables from string to integer using type
casting.

Then print them like :

year : `<year>`

month : `<month>`

day : `<day>`

Use just one print function per line.

In [ ]:
### YOUR ANSWER ###

Enter a date in yyyy-mm-dd format: 2024-11-27
year: 2024
month: 11
day: 27

Get a date input as `yyyy-mm-dd`. Then translate it to `mm/dd/yy` format. You have to just pick two least significant digits for year
term.

Example:

2024-11-27  --->  11/27/24

In [ ]:
### YOUR ANSWER ###

Enter a date in yyyy-mm-dd format: 2024-11-27
11/27/24

# Operators

## Exercise 3

Create two variables with values 20 and 10:

Use arithmetic operators to calculate and print the:
1. sum
2. difference
3. product
4. quotient
5. remainder

of the two variables.

In [ ]:
### YOUR ANSWER ###

Expected Output:


```
30 10 200 2 0
```

## Exercise 4

Given two boolean variables a = True and b = False:

Evaluate and print the results of the following logical expressions: a and b, a or b, not a, and a != b.

In [ ]:
### YOUR ANSWER ###

Expected Output:

```
False True False True
```

## Exercise 5

Use comparison operators to compare two strings str1 = 'summer' and str2 = 'winter'.

Print the results of the following comparisons: str1 == str2, str1 != str2, str1 > str2, and str1 < str2.

In [ ]:
### YOUR ANSWER ###

Expected Output:


```
False True False True
```